/*root*/
:root {
  --primary-color: #14b82a;
  --secondary-color: #161515;
  --buttons-color: #042c09;
  --background-color: #ffe924;
  --try-color: #345c21;
  --shadow-color: rgb(105, 99, 99);
  --font-main: "Arial", sans-serif;
}
/*g;obal*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*header*/
#header {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: var(--buttons-color);
  box-shadow: 0 2px 4px var(--shadow-color);
  z-index: 100;
}
#header .logo {
  width: 150px;
    font-size: 24px;
    font-weight: bold;
    color: var(--background-color);
}
#header ul {
  display: flex;
  list-style: none;
    align-items: center;
}
#header ul li {
  margin: 0 10px;
}
#header ul li a {
  text-decoration: none;
  color:var(--background-color);
  font-weight: 500;
}
#header ul li a:hover {
  color:var(--try-color);
}
#header .cart a {
  text-decoration: none;
  color: var(--background-color);
  font-weight: 500;
}
#header .cart a:hover {
  color: var(--try-color);
}
